.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.card-description {
  min-height: 6rem;
}

.card-button {
  margin-top: 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: left;
}
